# Copyright (c) 2025 Hariharan Sivakumar
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_BGM220P

config NUM_IRQS
	# must be >= the highest interrupt number used
	default 60

config PM
	select UART_INTERRUPT_DRIVEN

config GPIO_GECKO
	default y

endif
